body{
    display: flex;
align-items: center;
justify-content: center;
margin-top: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    background-color: burlywood;
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 10px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.quote{
    font-family: "Fjalla One", serif;
    font-size: 20px;
    width: 300px;
    height: auto;
}

button{
   width: 80px;
   height: 40px;
   
   border-radius: 10px;
   box-shadow: 2px 2px;
   border: none;
   background-color: hsl(34, 78%, 91%);
   cursor: pointer;
   border-color: hsl(34, 58%, 85%);
}
button:hover{
    background-color: hsl(34, 78%, 85%);
     width: 83px;
   height: 43px;
}
.author{
margin-bottom: 4%;
}


@media (max-width: 480px) {
  .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 65%;
   width: 300px;
    height: auto;
  }
}